body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.container {
    display: flex;
    flex: 1;
}

nav {
    background-color: #444;
    width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

nav button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    text-align: left;
}

nav button:hover {
    background-color: #777;
}

main {
    flex: 1;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

#drugInfo {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #005f73;
}